.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

span.spacer{
  padding-left: 800px;
}

button.logout{
  margin-left: 60px;
  margin-top: 20px;
}
