.idea
.env

backend/*.zip

projects-in-queue
/http-requests/simulating-files/code-examples.iml

build-docs-html/
build-docs-pdf/
build-docs-revealjs/
target/
docs/revealjs/
revealjs.zip
gh-pages/
.idea/
*.iml
.DS_Store
*.zip
dist
.angular
project-under-test/*
frontend/package-lock.json
docs/slides/.asciidoctor/**

restart.sh

*.pem