<div style="height: 100vh" class="container mt-5">
  <form enctype="multipart/form-data" name="testExampleForm">
    <div *ngIf="!checkPathParam()">
      <label>Example Id:</label>
      <input id="exampleId" type="text" name="example" placeholder="Example Id" required class="form-control">
    </div>
    <label>Username:</label>
    <input type="text" name="username" [value]="username" placeholder="Username" [disabled]="true" required class="form-control">
    <label>Your Sourcecode: </label>
    <input type="file" (change)="uploadFile($event)" class="form-control" name="code" accept=".java" multiple required>
  </form>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select (selectionChange)="changeCode($event.value)" [value]="defaultLang">
      <mat-option *ngFor="let language of languages" [value]="language.viewValue">
        {{language.language}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-expansion-panel [expanded]="true" style="margin-bottom: 2%">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Introduction
      </mat-panel-title>
      <mat-panel-description>
        {{exampleDescription}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <markdown [data]="markDownFileContent" >

    </markdown>
  </mat-expansion-panel>

  <ngx-monaco-editor style="height: 45% !important" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>

  <button mat-raised-button color="primary" (click)="sendSubmission()">Test Your Code</button>
  <button style="display: inline; margin-left: 1%" mat-raised-button color="primary" [disabled]="!fileIsUploaded" (click)="downloadFile()"> Download Your File</button>
</div>
