<div fxLayout="row wrap" fxLayoutGap="16px" style="margin: 10px 10px 10px 10px">
  <label>Select a type:</label>

  <mat-chip-list>
    <mat-chip color="primary" *ngFor="let type of types" [selected]="selectedTypes.includes(type)"
      (click)="setType(type)">{{type}}</mat-chip>
  </mat-chip-list>

  <mat-grid-list [cols]="getCols()" rowHeight="230px" style="margin-top: 20px;">
    <ng-container *ngFor="let example of examples">
      <mat-grid-tile *ngIf="selectedTypes.includes(example.type) || selectedTypes.length == 0"
        style="display: inline-block;">
        <mat-card style="height: 95%;width: 95%;">
          <mat-card-header class="overview">
            <mat-card-title style="text-align: left; margin-left: -8px;">{{example.name}}</mat-card-title>
            <mat-card-subtitle style="margin-left: -8px;">{{example.type}}</mat-card-subtitle>
          </mat-card-header>
          <div style="display: flex;">
            <mat-card-content style="overflow: auto;overflow-x: unset;height:65px;width: 100%;">
              <p>
                {{example.description}}
              </p>
            </mat-card-content>
            <mat-card-actions style="bottom: 0px; position: absolute; margin-bottom: 8px;">
              <button mat-raised-button color="primary" (click)="this.router.navigate(['/example', example.id])">Start
                coding</button>
            </mat-card-actions>
          </div>
        </mat-card>
      </mat-grid-tile>

    </ng-container>
  </mat-grid-list>

  <button *ngIf="value == 1" mat-raised-button color="primary" (click)="this.router.navigate(['/create-example'])"
    style="margin-top: 20px;">Create Example
  </button>
</div>
