/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.results .mat-card-header-text {
  margin-left: 0 !important;
}

.overview .mat-card-header-text {
  margin: 0px 8px !important;
}
