<div class="container mt-5">
  <form enctype="multipart/form-data" name="createExampleForm">
    <label>Name of the Example:</label>
    <input type="text" name="exampleName" placeholder="Example Name" required class="form-control"><br>

    <label>Type: </label>
    <mat-chip-list [multiple]="false">
      <mat-chip color="primary" *ngFor="let type of types" [selected]="selectedTypes.includes(type)"
                (click)="setType(type)">{{type}}</mat-chip>
    </mat-chip-list><br>


    <label>Short Description of the Example:</label>
    <input type="text" name="description" placeholder="Description" required class="form-control"><br>

    <label style="margin-right: 10px; vertical-align: middle;">Public:</label>
    <mat-checkbox [(ngModel)]="checkPublic" style="vertical-align: middle;" #public [(ngModel)]="checkPublic"></mat-checkbox><br>

    <ng-container *ngIf="!public.checked">
      <label>Repository URL:</label>
      <input type="text" name="description" placeholder="https://github.com/leocode-repos/my-testrepo1.git" required class="form-control"><br>

      <label>Git Token for accessing the repository:</label>
      <input type="text" name="description" placeholder="ghp_7iA3TDH6rSk7kN7QoDdFbAr532" required class="form-control"><br>
    </ng-container>
  </form>

  <button mat-raised-button color="primary" (click)="upload()" style="margin-top: 5px;">Create Example</button>

</div>
