<div class="container mt-5">
  <form enctype="multipart/form-data" name="createExampleForm">
    <label>Name of the Example:</label>
    <input type="text" name="exampleName" placeholder="Example Name" required class="form-control"><br>

    <label>Type: </label>
    <mat-chip-list [multiple]="false">
      <mat-chip color="primary" *ngFor="let type of types" [selected]="selectedTypes.includes(type)"
                (click)="setType(type)">{{type}}</mat-chip>
    </mat-chip-list><br>


    <label>Short Description of the Example:</label>
    <input type="text" name="description" placeholder="Description" required class="form-control"><br>

    <label>Public:</label><br>
    <mat-checkbox [(ngModel)]="checkPublic"></mat-checkbox><br>
  </form>
  <button mat-raised-button color="primary" (click)="upload()">Create Example</button>

</div>
