<div class="container mt-5">
  <label>Name of the Example:</label>
  <input type="text" [(ngModel)]="repositoryName" placeholder="Example Name" required class="form-control"><br>

  <label>Type: </label>
  <mat-chip-list [multiple]="false">
    <mat-chip color="primary" *ngFor="let type of types" [selected]="selectedType === type.id"
              (click)="setType(type.id)">{{type.displayName}}</mat-chip>
  </mat-chip-list><br>

  <label>Short Description of the Example:</label>
  <input type="text" [(ngModel)]="description" placeholder="Description" required class="form-control"><br>

  <label>Collaborator</label>
  <input type="text" name="collaborator" value="{{teacher.ghUsername}}" disabled="true" class="form-control">
  <br/>

    <label style="margin-right: 10px; vertical-align: middle;">Public:</label>
    <mat-checkbox [(ngModel)]="checkPublic" style="vertical-align: middle;" #public ></mat-checkbox><br>

    <ng-container *ngIf="!public.checked">
      <label>Repository URL:</label>
      <input type="text" name="description" placeholder="https://github.com/leocode-repos/my-testrepo1.git" required class="form-control"><br>

      <label>Git Token for accessing the repository:</label>
      <input type="text" name="description" placeholder="ghp_7iA3TDH6rSk7kN7QoDdFbAr532" required class="form-control"><br>
    </ng-container>

  <div class="row">
      <button mat-raised-button color="primary" (click)="upload()" style="margin-top: 5px;">Create Example</button>
    <div *ngIf="showSpinner" style="margin: 5px">
      <mat-spinner [diameter]="30" style="float: left"></mat-spinner>
    </div>
  </div>
  <br>
  <br>



  <div *ngIf="createdRepoUrl != ''">
    <label>Your Repository was created: <a href="{{createdRepoUrl}}">{{createdRepoUrl}}</a></label>
  </div>


</div>
